* {
    margin: 0;
    padding: 0;
}


.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
.sign {
    padding-top: 40px;
    color: #3fcc54;
    font-weight: bold;
    }
    
.felh {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    }
    
form.form1 {
        padding-top: 40px;
    }
    
.jelsz {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    }
    
   
.felh:focus, .jelsz:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
.be {
    cursor: pointer;
    border-radius: 5em;
    color: #262a33;
    background: linear-gradient(to right, #b8fb00, #3fcc54);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 30%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);

    }
    
.reg {
    cursor: pointer;
    border-radius: 5em;
    color: #262a33;
    background: linear-gradient(to right, #b8fb00, #3fcc54);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 31%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}  


.topnav {
	background-color: #333;
    width: 100%;
    padding-bottom: 50px;
}

#koksz{
  float: left;
  color: white;
  font: Arial;
  margin-top: 5px;
  margin-left: 5px;
}