.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
  align-content: center;
}
.container > div {
  width: 25%;
}
.div_külső2{
  background-color: #FFFFFF;
	border-radius: 50px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	padding: 25px;
  margin: 25px;
  height: 50vh;
}
