.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}
.databox {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chart_div {
	width: 400px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#koksz{
  float: left;
  color: white;
  font-family: 'Permanent Marker', cursive;
  margin-top: 5px;
  margin-left: 5px;
}
