.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container > div {
	width: 50%;
}

.databox {
	box-sizing: border-box;
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chart_div {
	width: 400px;
}
