* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{ 
	min-height:100vh;
	margin:0;
	position:relative;
		background: url(../img/háttér.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
 	background-size: cover;
	

}


.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: gray;
color: white;
height:50px;
}

#footerszoveg{
	margin-top: 20px;
	text-align: center;
}

.lonk{
	color: white;
	cursor: initial;
	float: center;
	text-decoration: none;
}

.flink{
	text-align: right;
	margin-top: -20px;
	margin-right: 20px;
}
.btn {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
	color: lightblue;
}

.github{
	text-align: left;
	margin-top: -20px;
	margin-left: 20px;

}
.gitico{
	margin-left: 80px;
	vertical-align: center;
	margin-top: -40px;
	margin-bottom: 9px;
}

.glink{
	color: white;
}


