.topnav {
	background-color: #333;
    width: 100%;
    padding-bottom: 50px;
}

.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }

#koksz{
  float: left;
  color: white;
  font: Arial;
  margin-top: 5px;
  margin-left: 5px;
}
