<!DOCTYPE html>
<html>
<head>
	<title>Adatok</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/adatok.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/adatok.css">
</head>
<body>
	<div>
		<button onclick="Navigáció('grafikonok.html');">Grafikonok</button>
		<button onclick="Navigáció('adatok.html');">Adatok</button>
		<button onclick="Navigáció('beviteli-mezo.html')">Beviteli mező</button>
		<button onclick="Kijelentkezés();">Kijelentkezés</button>
	</div>
	<div>
		<div>
			<label for="">Felhasználónév</label>
			<label for=""></label>
			<label for="">Jelszó változtatás</label>
			<input type="text">
			<label for="">Születési dátum</label>
			<label for=""></label>
			<label for="">Magasság</label>
			<label for=""></label>
			<label for="">Jelenlegi súly</label>
			<label for=""></label>
			<input type="text">
			<label for="">Célsúly</label>
			<label for=""></label>
			<input type="text">
			<label for="">Kívánt súlyváltozás/idő</label>
			<label for=""></label>
			<input type="text">
			<button onclick="Módosítások_mentése();">Módosítások mentése</button>
		</div>
	</div>
	<div>

	</div>
<footer class="footer">
		
</footer>
</body>
</html>