<!DOCTYPE html>
<html lang="hu">
<head>
	<title>Adatok</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/adatok.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/adatok.css">
</head>
<body>
	<header class="topnav">
		<a href="backend/logout" >Kijelentkezés</a>
		<a href="beviteli-mezo" >Beviteli mező</a>
		<a href="adatok" >Adatok</a>
		<a href="grafikonok">Grafikonok</a>
	</header>
	<div>
		<div>
			<form action="backend/change_userdata" method="POST">
				{% csrf_token %}
				<label for="">Felhasználónév</label>
				<label for="">{{ felhasznalonev }}</label>
				<label for="">Jelszó változtatás</label>
				<input type="password" name="jelszo" placeholder="Nem változott">
				<label for="">Születési dátum</label>
				<label for="">{{ szuldatum }}</label>
				<label for="">Magasság</label>
				<label for=""></label>
				<input type="number" name="magassag" value="{{ magassag }}">
				<label for="">Jelenlegi súly</label>
				<label for=""></label>
				<input type="number" name="suly_akt" value="{{ suly_akt }}">
				<label for="">Célsúly</label>
				<label for=""></label>
				<input type="number" name="suly_cel" value="{{ suly_cel }}">
				<input type="submit" class="button" value="Módosítások mentése">
			</form>
		</div>
	</div>
	<div>
		
	</div>
<footer class="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="info">
                        <h3>Kox.hu</h3>
                        <p>Random szöveg I guess</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                 </div>
                <p class="copyright">Kox.hu © 2021</p>
            </div>
        </footer>

</body>
</html>