<!DOCTYPE html>
<html lang="hu">
<head>
	<title>Adatok</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/adatok.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/adatok.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
	<header class="topnav">
		<h1 id="koksz">KOX.HU</h1>
		<a href="backend/logout" >Kijelentkezés</a>
		<a href="beviteli-mezo" >Beviteli mező</a>
		<a href="adatok" >Adatok</a>
		<a href="grafikonok">Grafikonok</a>
	</header>
	<div class="div_külső">
		<div id="adatok">
			<form action="backend/change_userdata" method="POST">
				{% csrf_token %}
				<h4>Felhasználónév:</h4>
				<label class="szövegdoboz"for="">{{ felhasznalonev }}</label>

				<h4>Jelszó változtatás:</h4>
				<input class="input" type="password" name="jelszo" placeholder="Nem változott">

				<h4>Születési dátum:</h4>
				<label class="szövegdoboz" for="">{{ szuldatum }}</label>

				<h4>Magaság:</h4>
				<input class="input" type="number" name="magassag" value="{{ magassag }}">
				
				<h4>Jelenlegi súly:</h4>
				<input class="input" type="number" name="suly_akt" value="{{ suly_akt }}">

				<h4>Célsúly:</h4>
				<input class="input" type="number" name="suly_cel" value="{{ suly_cel }}">
				<br>
				<input type="submit" class="button" value="Módosítások mentése">
			</form>
		</div>
	</div>
	<footer>
		{% include "footer.html" %}
	</footer>
</body>
</html>