<!DOCTYPE html>
<html>
<head>
	<title>Bejelentkezés</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/bejelentkezes.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bejelentkezes.css">
</head>
<body>
	<div>
		
	</div>
	<div>
		<div>
			<input type="text" placeholder=" Felhasználónév">
			<input type="password" placeholder="Jelszó">
			<button onclick="Bejelentkezés();">Bejelentkezés</button>
			<button onclick="location.href='regisztracio.html'" type="button">Regisztráció</button>

		</div>
	</div>
	<div >

	</div>
<footer class="footer">
	
</footer>
</body>
</html>