<!DOCTYPE html>
<html lang="hu">
<head>
	<title>Bejelentkezés</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/bejelentkezes.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bejelentkezes.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
	<script type="text/javascript">
		window.addEventListener('load', function()
		{
			{% if login_error %}
				alert('Hibás felhasználónév vagy jelszó.');
			{% elif login_regist %}
				alert('Sikeres regisztráció. Mostmár bejelentkezhet.')
			{% endif %}
		});
	</script>
</head>
<body>
	<header class="topnav">
		<h1 id="koksz">KOX.HU</h1>
	</header>

	<div class="div_külső">
		<div id="bejelentkezés">
			<h2>Bejelentkezés</h2>
			
			<form action="backend/login" method="POST">
				{% csrf_token %}
				<h4>Felhasználónév:</h4>
				<input class="input" type="text" placeholder=" Felhasználónév" name="felhasznalonev">
				<h4>Jelszó:</h4>
				<input class="input" type="password" placeholder="Jelszó" name="jelszo">
				<br>
				<input class="button" type="submit" value="Bejelentkezés">
			</form>
			<a href="regisztracio">
			<button class="button">Regisztráció</button>
			</a>
			
		</div>
	</div>
	<footer>
		{% include "footer.html" %}
	</footer>
</footer>
</body>
</html>