<!DOCTYPE html>
<html>
<head>
	<title>Beviteli mező</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/beviteli-mezo.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/beviteli-mezo.css">
</head>
<body>
	<div>
		<a href="grafikonok.html">
			<button>Grafikonok</button>
		</a>
		<a href="adatok.html">
			<button>Adatok</button>
		</a>
		<a href="beviteli-mezo.html">
			<button>Beviteli mező</button>
		</a>
		<a href="bejelentkezes.html">
			<button>Kijelentkezés</button>
		</a>
	</div>
	<div>
		<div>
			<label for="">Dátum</label>
			<input type="date">
			<label for="">Termék neve</label>
			<select name="" id="">

			</select>
			<input type="text" value="Mennyiség (gramm)">
			<input type="text" value="Kcal/100g">
			<input type="text" value="Zsír/100g">
			<input type="text" value="Fehérje/100g">
			<input type="text" value="Szénhidrát/100g">
			<button onclick="Mentés_étkezés();">Mentés</button>
		</div>
		<div>
			<label for="">Dátum</label>
			<input type="date">
			<label for="">Sport neve</label>
			<select name="" id="">

			</select>
			<input type="text" value="Időtartam (perc)">
			<button onclick="Mentés_mozgás();">Mentés</button>
		</div>
	</div>
	<div>

	</div>
</body>
</html>