<!DOCTYPE html>
<html>
<head>
	<title>Beviteli mező</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/beviteli-mezo.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/beviteli-mezo.css">
</head>
<body>
	<div>
		<a href="grafikonok" class="button">Grafikonok</a>
		<a href="adatok" class="button">Adatok</a>
		<a href="beviteli-mezo" class="button">Beviteli mező</a>
		<a href="bejelentkezes" class="button">Kijelentkezés</a>
	</div>
	<div>
		<div>
			<label for="">Termék neve</label>
			<select name="" id="">

			</select>
			<input type="text" placeholder="Mennyiség (gramm)">
			<input type="text" placeholder="Kcal/100g">
			<input type="text" placeholder="Zsír/100g">
			<input type="text" placeholder="Fehérje/100g">
			<input type="text" placeholder="Szénhidrát/100g">
			<button onclick="Mentés_étkezés();">Mentés</button>
		</div>
		<div>
			<label for="">Sport neve</label>
			<select name="" id="">

			</select>
			<input type="text" placeholder="Időtartam (perc)">
			<button onclick="Mentés_mozgás();">Mentés</button>
		</div>
	</div>
	<div>
		{{ termekek }}
		{{ mozgasok }}
	</div>
<footer class="footer">
	
</footer>
</body>
</html>