	<footer class="footer">
		<p id="footerszoveg"><a href="../static/img/Koxlo.png" class="lonk">Kox.hu © 2021</a></p>
		<p class="flink"><button onclick="Rickroll();" class="btn">Koxolási technikák</button></p>
		<p class="github"><a href="https://github.com/tamas646/SZLG-Django-projekt" class="glink">Github</a></p>
		<a href="https://www.github.com"><img src="https://github.com/favicon.ico" class="gitico"></a>
	</footer>

<img id="img_1"src="../static/img/Gif_1.gif">
<audio id="song_1" src="../static/audio/Song_1.mp3"></audio>
<script>
document.getElementById("koksz").onclick = function() {myFunction()};

function myFunction() {
  document.getElementById("koksz").innerHTML;
  let gif=document.getElementById("img_1");
  let song=document.getElementById("song_1");
        gif["style"]["opacity"]=1; 
        song.play();

}
</script>
