<!DOCTYPE html>
<html>
<head>
	<title>Grafikonok</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/grafikonok.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/grafikonok.css">
</head>
<body>
	<div>
		<button onclick="location.href='grafikonok.html'" type="button">Grafikonok</button>
		<button onclick="location.href='adatok.html'" type="button">Adatok</button>
		<button onclick="location.href='beviteli-mezo.html'" type="button">Beviteli mező</button>
		<button onclick="location.href='bejelentkezes.html'" type="button">Kijelentkezés</button>
	</div>
	<div>

	</div>
<footer class="footer">
	
</footer>
</body>
</html>