<!DOCTYPE html>
<html>
<head>
	<title>Grafikonok</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/grafikonok.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/grafikonok.css">
</head>
<body>
	<div>
		<a href="grafikonok.html">
			<button>Grafikonok</button>
		</a>
		<a href="adatok.html">
			<button>Adatok</button>
		</a>
		<a href="beviteli-mezo.html">
			<button>Beviteli mező</button>
		</a>
		<a href="bejelentkezes.html">
			<button>Kijelentkezés</button>
		</a>
	</div>
	<div>

	</div>
</body>
</html>