<!DOCTYPE html>
<html>
<head>
	<title>Grafikonok</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/grafikonok.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/grafikonok.css">
</head>
<body>
	<div>
		<button onclick="Navigáció('HTML_Grafikonok.html');">Grafikonok</button>
		<button onclick="Navigáció('HTML_Adatok.html');">Adatok</button>
		<button onclick="Navigáció('HTML_Beviteli_mező.html')">Beviteli mező</button>
		<button onclick="Kijelentkezés();">Kijelentkezés</button>
	</div>
	<div>

	</div>
</body>
</html>