<!DOCTYPE html>
<html>
<head>
	<title>Regisztráció</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/regisztracio.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/regisztracio.css">
</head>
<body>
	<div>

	</div>
	<div>
		<div>
			<input type="text" placeholder="Felhasználónév">
			<input type="password" placeholder="Jelszó">
			<label for="">Születési idő</label>
			<input type="date">	
			<label for="">Nem</label>
			<input type="radio">
			<input type="text" placeholder="Magasság">
			<input type="text" placeholder="Jelenlegi súly">
			<input type="text" placeholder="Célsúly">
			<button onclick="Navigáció('bejelentkezes.html');">Vissza</button>
			<button onclick="Regisztráció();">Regisztráció</button>
		</div>
	</div>
	<div>

	</div>
</body>
</html>