<!DOCTYPE html>
<html lang="hu">
<head>
	<title>Regisztráció</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/regisztracio.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/regisztracio.css">
</head>
<body>
	<div>

	</div>
	<div>
		<div>
			<form action="backend/registration" method="POST">
				{% csrf_token %}
				<input type="text" placeholder="Felhasználónév" name="felhasznalonev">
				<input type="password" placeholder="Jelszó" name="jelszo">
				<label for="">Születési idő</label>
				<input type="date" name="szuldatum">	
				<label for="">Férfi</label>
				<input type="checkbox" name="ferfi">
				<input type="number" placeholder="Magasság" name="magassag">
				<input type="number" placeholder="Jelenlegi súly" name="suly_akt">
				<input type="number" placeholder="Célsúly" name="suly_cel">
				<input type="submit" class="button">
			</form>
			<a href="bejelentkezes" class="button">Vissza</a>
		</div>
	</div>
	<div>

	</div>
<footer class="footer">
	
</footer>
</body>
</html>